/* $Id: views-styles.css,v 1.3 2010/06/24 23:08:18 jmburnz Exp $ */

/**********************************************************
 *                    Views Styles
 **********************************************************/

/* TODO: add basic views selectors */

/* 
* CSS for banner slider show;
*/

#block-views-test_slide_show-block {
	margin-top: 20px;
}

#block-views-test_slide_show-block views_slideshow_cycle_main views_slideshow_main {
	padding: 0px auto;
}
#block-views-test_slide_show-block .views_slideshow_pager_field_item {
	float: left;
	margin: 0px 4px 0px 0px;
	padding: 13px 2px 0px;
	width: 232px;	
}

#block-views-test_slide_show-block .views_slideshow_pager_field_item.active {
	background: #00A0E8 url('../images/arrow.png') no-repeat center top;
}

#block-views-test_slide_show-block .views_slideshow_pager_field_item img 
{
	margin: 0;
	padding: 2px;
	border: 1px solid silver;
}

#block-views-test_slide_show-block .views-slideshow-controls-bottom .active img {
	border: none;
}

/* center main banner */
#block-views-test_slide_show-block .views-slideshow-cycle-main-frame-row {
	width: 960px;
	height: 300px;
}

#block-views-test_slide_show-block .views_slideshow_cycle_main img {
	display: block;
	
	margin: 0px auto;
}


/**************************************************
*				Panel New Arrival Block 				  *
***************************************************/
.pane-new-arrival-glasses > h2 {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid purple;
}

.pane-new-arrival-glasses tr td {
	border: none;
}

.pane-new-arrival-glasses img {
	border: 2px solid white;
}

.pane-new-arrival-glasses a:hover img {
	border: 2px solid #00A0E8;
}

/********************************************
*				Main Photo View				*
**********************************************/
.pane-main-photo-view  > h2 {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid purple;
}

#views_slideshow_cycle_main_main_photo_view-block{
	width: 662px;
	height:400px;
	margin-bottom: 18px;
	padding-bottom: 35px;
	border-bottom: 1px solid;
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-title
{
	border: 1px dotted;	
	width: 625px;
	margin-bottom: 15px;
	margin-top: 10px;
	padding: 15px;
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-field-glass-image {
	border: 1px solid gray;
	position: absolute;
	width: 536px;
	height:343px;
	left: 0;
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-field-glass-image img{
	padding-top: 80px;
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-field-sub-image-1 {
	border: 1px solid gray;
	position: absolute;
	/*top: 0;*/
	left: 548px;
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-field-sub-image-1 .field-content{
	height: 106px;
}


#views_slideshow_cycle_main_main_photo_view-block .views-field-field-sub-image-2 {
	border: 1px solid gray;
	position: absolute;
	top: 194px;
	left: 548px;
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-field-sub-image-2 .field-content{
	height: 105px;
}


#views_slideshow_cycle_main_main_photo_view-block .views-field-field-sub-image-3{
	border: 1px solid gray;
	position: absolute;
	top: 312px;
	left: 548px;
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-field-sub-image-3 .field-content{
	height: 105px;
}


#views_slideshow_cycle_main_main_photo_view-block .views-field-field-zoom-icon{
	position: absolute;
	top:401px;
	right: 120px;	
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-field-zoom-icon-1{
	position: absolute;
	top:165px;
	right:3px;
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-field-zoom-icon-2{
	position: absolute;
	top:282px;
	right:3px;
}

#views_slideshow_cycle_main_main_photo_view-block .views-field-field-zoom-icon-3{
	position: absolute;
	top:400px;
	right:3px;
}

.pane-main-photo-view .views-content-field-glass-image {
	float: left;
	padding-left: 10px;
}

/************************************************************
*				Product Details View						*
*************************************************************/
.pane-product-detail-view {
	background-color: #EFEFEF;
	padding: 10px;
}

.pane-product-detail-view h2 {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid black;
	margin-bottom: 1em;
}

/************************************************************
*				Glass List View 							*
*************************************************************/
#block-views-glass_list_view-block {
	padding-top: 40px;
}

#block-views-glass_list_view-block h2 {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid black;
	margin-bottom: 1em;
	text-align: center;
}

#block-views-glass_list_view-block div.field-content a{
	
}

#block-views-glass_list_view-block a:hover img {
	border: 2px solid #00A0E8;
}

#block-views-glass_list_view-block a img {
	padding: 25px 0px;
	border: 2px solid silver;
}